<div class="container">
    <div class="row justify-content-center m-3">
        <button type="button" class="btn btn-outline-primary col-4 p-3 m-3" *ngIf="!voltar"(click)="VoltarCursos()">Voltar</button>
    </div>
    <div class="row justify-content-center" *ngIf="voltar">
        <button type="button" 
        *ngFor="let item of Curso" class="btn btn-outline-primary col-9 col-sm-4 col-md-3 p-3 m-3"
        (click)="getCadeiras(item.schema)"
        >{{item.nome_comum}}</button>
    </div>
</div>
