.cardDisciplina{
    border: solid #fff 1px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    font-display: center;
    background-color: #fff;
}
.header{
    font-size: 105%;
    margin-left: 20px;
}
.activeButton{
    height: 5vh;
    width: 2px!important;
    float: left;
}
