<div class="row justify-content-md-center m-1" >
    <ul class="list-group m-1 p-1 w-50 mw-50 h-50 mh-50 col-10 col-sm-4 col-md-3 p-3 m-3" *ngFor="let cadeira of Disciplinas" >
        <li class="list-group-item active w-20 mw-20 mh-20 m-20">Disciplina: {{cadeira.disciplina}}</li>
        <li class="list-group-item  w-10 mw-10 mh-10 m-10">Semestre: {{cadeira.semestre|| 0}}</li>
        <li class="list-group-item  w-10 mw-10 mh-10 m-10">Tipo: {{cadeira.tipo}}</li>
        <li class="list-group-item  w-10 mw-10 mh-10 m-10">Horas: {{cadeira.horas || 0 }}</li>
      </ul>
</div>

