.btn-light:hover,.btn-light:focus,.btn-light:visited,.btn-light:active,.btn-light{
    background-color: #fff!important;
    border-color: #fff!important;
    outline-color: #fff!important;

}
.btn:hover,.btn:focus,.btn,.btn:active{
    background-color: #fff!important;
    border-color: #fff!important;
    outline-color: #fff!important;
}
.list-group-item{
    border:none !important
}