
fluxograma .column-title {
  cursor: pointer;
}

fluxograma .column-title:hover {
  background: #e9e9e9;
}

fluxograma cell .box span {
  padding: 8px;
}

fluxograma cell .box {
  border: 2px solid white;
}

cell.cursei span {
  color: white;
}

cell.bloqueada .box {
  background: #ccc;
  border: 2px solid #ccc;
  color: #555;
}

fluxograma .overlay .filler {
  display: inline-block;
  width: 200px;
}

fluxograma .overlay .wrapper {
  position: absolute;
  right: 400px;
  top: 0px;

}

fluxograma .overlay .menu {
  position: fixed;
  width: 400px;
  height: 100%;

  background: #606060;
  box-shadow: 0px 0px 20px
  rgba(0, 0, 0, 0.3);

  opacity: 0;
  -webkit-transition: 0.5s opacity, 0s 0.5s z-index;
  transition: 0.5s opacity, 0s 0.5s z-index;
  z-index: -1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

}

fluxograma .overlay .menu.visible {
  opacity: 1;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  z-index: inherit;
}

  fluxograma .overlay .menu.visibleWithouRec {
  opacity: 1;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  z-index: inherit;
  width: 200px;
  right: 0px;
}

fluxograma .overlay .menu .left {
  border-right: 1px solid #858585;
  width: 200px;
}
fluxograma .overlay .menu .left .titulo {
  padding: 20px 20px 0px 20px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  color:white;
  display: block;
}
fluxograma .overlay .menu .left .recomendacao {
  text-align: center;
  font-size: 12px;
  color:black;
  border: 2px solid white;
  background-color:white;
  margin: 20px auto;
  height: 70px;
  width: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

fluxograma .overlay .menu .left .recomendacao .nome-disciplina {
  padding: 8px;
}

fluxograma .overlay .menu .left .recomendacao .prob-canto {
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 4px 4px;
}

fluxograma .overlay .menu .left .recomendacao .prob-centro {
  font-size: large;
  display: none;
}

fluxograma .overlay .menu .left .recomendacao:hover > span {
  display: none;
}

fluxograma .overlay .menu .left .recomendacao:hover .prob-centro {
  display: block;
  -webkit-animation: fade-in 0.3s;
          animation: fade-in 0.3s;
}

fluxograma .overlay .menu .right > div,
fluxograma .overlay .menu .right > span > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;

  border-bottom: 1px solid #858585;
  padding: 10px;
  width: 180px;
}

fluxograma .overlay .menu .right .baby {
  position: relative;
}

fluxograma .overlay .menu .right .baby img {
  height: 100px;
}

fluxograma .overlay .menu .right span img {
  width: 80px;
}

fluxograma .overlay .menu span {
  text-align: center;
  white-space: normal;
}

fluxograma .overlay .difficulty span {
  font-weight: bold;
  font-size: 16px;
}

fluxograma .overlay .tooltip {
  position: absolute;

  opacity: 0;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;

  top: 0px;
  left: 0px;
  width: 200px;
}

fluxograma .overlay .tooltip div {
  position: relative;
  -webkit-transition: 0s 0.5s visibility;
  transition: 0s 0.5s visibility;
  visibility: hidden;

  width: 300px;
  padding: 10px;

  background: #505050;
  box-shadow: 0px 0px 20px
    rgba(0, 0, 0, 0.3);

  white-space: normal;
  color: white;
}

fluxograma .overlay .left .tooltip div {
  top: 50px;
  left: -330px;
}

fluxograma .overlay .right .tooltip div {
  top: 50px;
  left: -530px;
}

fluxograma .overlay :hover > .tooltip {
  opacity: 1;
  -webkit-transition: 0.5s 0.5s opacity;
  transition: 0.5s 0.5s opacity;
}

fluxograma .overlay :hover > .tooltip div {
  visibility: visible;
  -webkit-transition: none;
  transition: none;
}

fluxograma .overlay .completion {
  background: white;
  margin: 5px 0px 10px 0px;

  height: 30px;
  width: 150px;
}

fluxograma .overlay .completion > div {
  height: 100%;
}

fluxograma .overlay .completion > span {
  position: fixed;
  color: black;

  line-height: 30px;
  font-size: 20px;
  width: 150px;
}

fluxograma .overlay .popularity {
  font-size: 28px;
}

fluxograma .overlay .actions img {
  width: 48px;
  margin: 10px;
  opacity: 0.7;
}

fluxograma .overlay .actions img:hover {
  opacity: 1;
}
