
<div class='filler'></div>

<div class='wrapper'>
   <div class='menu' ng-class='{"visible": shared.visible && shared.showRecomendacao, "visibleWithouRec": shared.visible && !shared.showRecomendacao}'>
      <div class='left' ng-show='shared.showRecomendacao'>
        <div>
          <span class='titulo'> Pessoas com seu histórico se matricularam nisso </span>

          <div class='tooltip'><div>
            Essas disciplinas são estimadas com base em todos os alunos que passaram pelo curso.
            Use como guia pra saber qual o comportamento mais comum dos demais alunos
          </div></div>
        </div>

        <div class='recomendacao' ng-repeat='d in shared.recomendacoes | limitTo: 7' ng-click = 'd.vou_cursar()' clickable ng-class='d.classe'>
              <span class='nome-disciplina'>{{d.nome_disciplina}}</span>
              <span class='prob-canto'>{{d.probabilidade}}</span>
            <div class='prob-centro'>
              <span>{{d.probabilidade}}</span>
            </div>
        </div>

      </div>

      <div class='right'>

            <span ng-switch='shared.dificuldade'>

              <div ng-switch-when='-1'>
                <img ng-src='assets/img/minha-grade/baby4.svg'>
                <span> Ainda não há dados suficientes para prever o risco de reprovação nesse curso. </span>
              </div>

              <div class='baby'ng-switch-default>
                <img ng-src='assets/img/minha-grade/baby{{shared.dificuldade}}.svg'>
                <span ng-switch='shared.dificuldade' class='difficulty'> Risco de reprovação
                  <span ng-switch-when='1'> baixo </span>
                  <span ng-switch-when='2'> médio </span>
                  <span ng-switch-when='3'> alto </span>
                </span>

                <div class='tooltip'><div>
                  Embora essa previsão seja feita analisando matrículas
                  passadas, não é garantido que ela corresponda à realidade
                  em todos os casos. Use-a apenas como guia.
                </div></div>
              </div>

            </span>

        <div ng-show="!shared.showRecomendacao">
          <span class='popularity'> {{shared.popularidade}} </span>
          <span> Alunos se matricularam nas mesmas disciplinas </span>
        </div>

        <div ng-show="shared.showRecomendacao">
          <span class='popularity'> {{shared.probabilidade}} </span>
          <span> Probabilidade de se matricular nessas disciplinas, dado seu histórico </span>
        </div>

        <div>
          <div class='completion'>
            <span> {{shared.completude}} </span>
            <div ng-style='{width: shared.completude}'></div></div>
          <span> Porcentagem de disciplinas obrigatórias concluídas </span>
        </div>

        <div>
          <div class='actions'>
            <img src='assets/img/icons/compartilhar.svg' ng-click='shared.share()' clickable>
            <img src='assets/img/icons/baixar.svg' ng-click='shared.download()' clickable>
          </div>
          <span> Compartilhar ou salvar grade </span>
        </div>

      </div>
  </div>



</div>
