<nav class="navbar navbar-expand-sm navbar-light bg-light row">
        <a class="navbar-brand col-12 col-sm-4 col-md-2 " href="#">Cursos UFCG</a>
        <ul class="navbar-nav row justify-content-center">
            <li class="nav-item col-12 ml-4 col-sm-4 col-md-4" routerLinkActive="active">
                <a class="nav-link" routerLink="fluxograma">Fluxograma</a>
            </li>
            <li class="nav-item col-12 ml-4 col-sm-6 col-md-6" routerLinkActive="active">
                <a class="nav-link" routerLink="minha-grade">Minha Grade</a>
            </li>
        </ul>
    </nav>
<router-outlet></router-outlet>
