<div class="row ">
    <div class="menu">
        <div class="col-12 pt-4 ml-3">
            <a class="col-12" href="#">
                <h5>Cursos UFCG</h5>
            </a>
        </div>
        <hr />
        <div class="col-12 py-2 button">
            <div class="activeLink"></div>
            <a class="m-2" (click)="active('fluxograma')" routerLink="fluxograma">Fluxograma</a>
        </div>
        <div class="col-12 py-3 button">
            <div class="activeLink"></div>
            <a class="m-2" (click)="active('minha-grade')" routerLink="minha-grade">Minha
                Grade</a>
        </div>
    </div>

    <div class="conteudo">
        <router-outlet></router-outlet>
    </div>
</div>