
#header,
#blog .button,
#blog .pagination .current,
overlay .close-btn,
fluxograma cell .box div,
fluxograma cell.selecionado .box,
fluxograma cell.cursei .box,
fluxograma .overlay .completion > div {
  background: /*{{color}}*/;
}

overlay .sidebar a:hover {
  border-right: 2px solid /*{{color}}*/;
}

fluxograma cell.cursei .box,
fluxograma cell.vou-cursar .box,
fluxograma .overlay .menu .left > div.vou-cursar {
  border: 2px solid /*{{color}}*/;
}


#blog .article a,
fluxograma cell.vou-cursar span,
fluxograma .overlay .menu .left > div.vou-cursar {
  color: /*{{color}}*/;
}


raio-x #topdisc,
raio-x #reporter > div,
raio-x #futuro {
  background-color: /*{{color}}*/;
}

/* TEMPORARY */

#manual-content,
#manual-puller2 {
  background: /*{{color}}*/;
}

#manual-puller1,
#manual-puller3 {
  border-right: 20px solid /*{{color}}*/;
}

.tour-tip {
  background: /*{{color}}*/;
}

.tour-tip .tour-arrow.tt-right {
  border-color: transparent /*{{color}}*/ transparent transparent !important;
}

.tour-tip .tour-arrow.tt-bottom {
  border-color: transparent transparent /*{{color}}*/ !important;
}
