<div class="row align-items-end">
    <div class="col-5 align-self-center">
        <p-orderList [value]="Curso"filterBy="nome_comum" [listStyle]="{'height':'500px'}" #filter (onFilterEvent)="focus()" filterPlaceholder="Search the course"
            dragdrop="true">
            <ng-template let-curso pTemplate="item" >
                <button type="button" class="btn col-12 p-3"
                    (click)="getDisciplina(curso.schema)">{{curso.nome_comum}}</button>
            </ng-template>
        </p-orderList>
    </div>
</div>