
slider {
  display: block;
}

slider #wrapper {
  position: relative;
  margin: 0px 20px 0px 20px;
  height: 100%;
}

slider #wrapper > * {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}

slider #wrapper #line {
  background: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);

  height: 6px;
  width: 100%;
}

slider #wrapper .bar {
  width: 2px;
  height: 15px;
  background: lightgrey;
  transition: opacity 0.2s;
}

slider #wrapper .handle {
  width: 18px;
  height: 18px;
  z-index: 6;

  border-radius: 10px;
  transition-property: left;
  background: lightgrey;
}

slider #wrapper .handle span {
  position: absolute;
  padding: 5px;

  line-height: normal;
  font-size: 12px;
  background: grey;
  color: white;

  -webkit-transform: translate(-25%, 30px);

          transform: translate(-25%, 30px);
  transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}

slider #wrapper .handle.push,
slider #wrapper .handle.hide {
  z-index: 5;
}

slider #wrapper .handle.push span {
  -webkit-transform: translate(-25%, 60px);
          transform: translate(-25%, 60px);
}

slider #wrapper .handle.hide span {
  opacity: 0;
}

slider #wrapper.ng-enter {
  opacity: 0;
}

slider #wrapper.ng-enter.ng-enter-active {
  opacity: 1
}
