<div class="container">
    <p-carousel [value]="Periodos" [numVisible]="6" [numScroll]="5">
        <ng-template let-p pTemplate="item" class="row">
           <button id="{{p.periodo}}"type="button" class="btn m-3 p-3" [ngClass]="p.selected==true?'selected':p.localizar==true?'localizar':'button'"
           (click)="viewPeriod(p.periodo)"(click)="selected(p.periodo)">{{p.periodo}}</button>
        </ng-template>
    </p-carousel>
</div>
<periodo [periodo]="periodo" (disciplinasLocalizar)="localizar($event)"></periodo>
