
info-equipe {
  display: block;
}

info-equipe img {
  width: 100px;
  height: 100px;

  margin: 0 auto;
  border-radius: 100px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

info-equipe div {
  width: 200px;
  margin: 50px 25px 50px 25px;
  text-align: center;
  float: left;
}

info-equipe span {
  font-size: 15px;
  line-height: 25px;
}
