<link rel='stylesheet' type='text/css' href='assets/css/color.css' ng-css>

<div id='header'>
  <a href='#/' clickable><img src='assets/img/cursosUFCGLogo.png'></a>
  <span ng-click='go()' clickable> Blog </span>
  <div></div>

  <div class='filter'>
    <div class="key">
      <select ng-model="selectedTagType"
              ng-options="type for (type, values) in barFilters"
              ng-change="setTagType(selectedTagType)">
        <option value="" disabled selected> Filtro </option>
      </select>
    </div>
    <select ng-model="selectedTag"
            ng-options="tag for tag in valuesTag"
            ng-change="setFilterTag(selectedTag)">
    </select>
  </div>

</div>

<div id='content'>
  <div id='blog'>

    <div class='feed' ng-if='current == undefined'>

      <div class='box' ng-repeat='post in posts | filter: filterByTag | orderBy : "date" : true | limitTo : num_posts : (page-1) * num_posts'>
        <div class='title'> {{post.title | uppercase}} </div>
        <div class='article' ng-bind-html='trust(post.abstract)'></div>
        <div>
          {{post.author}} &nbsp;-&nbsp; {{post.date | date : 'longDate' : 'UTC'}}
        </div>
        <div class='bottom'>
          <div><div class='tag' ng-repeat='tag in post.tags.Tema' ng-click="setThemeFilter(tag)"> {{tag}} </div></div>
          <a class='button' ng-click='go(post.url)' clickable> LEIA MAIS </a>
        </div>
      </div>

      <div class='pagination' ng-init='change(page)' ng-if='num_pages > 1'>
        <div ng-click='change(page-1)' ng-show='page > 1' clickable> « </div>
        <div ng-click='change(i)' ng-repeat='i in range'
             ng-class="page == i? 'current unselectable' : null" clickable> {{i}} </div>
        <div ng-click='change(page+1)' ng-show='page < num_pages' clickable> » </div>
      </div>

    </div>

    <div class='feed' ng-if='current != undefined'>
      <div class='box'>
        <div class='top'> {{current.author}} &nbsp;-&nbsp; {{current.date | date : 'longDate' : 'UTC'}} </div>
        <div class='title'> {{current.title | uppercase}} </div>
        <div class='article' ng-bind-html='trust(current.article)'></div>
        <div class='bottom'>
          <div></div>
          <a class='button' ng-click='go()' clickable> VOLTAR </a>
        </div></div>
    </div>

  </div>
</div>

<div id='footer' unselectable>
  <a href='#/' clickable> Home </a>
  <img src='assets/img/barra.png' class='barra'>
  <a href='#/blog' clickable> Blog </a>
  <img src='assets/img/barra.png' class='barra'>
  <img src='assets/img/analyticsLogo.svg' class='logo'>
  <img src='assets/img/barra.png' class='barra'>
  <a href='#/equipe' clickable> Equipe </a>
  <img src='assets/img/barra.png' class='barra'>
  <a href='http://analytics.lsd.ufcg.edu.br/' clickable> + Projetos </a>
</div>
