<link rel='stylesheet' type='text/css' href='assets/css/color.css' ng-css>

<div id='header'>
  <img id='menu-logo' src='assets/img/threeLineMenu.png' ng-show='curso.nome_comum' ng-click='show_menu = !show_menu' clickable>

  <img src='assets/img/cursosMiniLogo.svg'>

  <a href='#/' clickable>
    <img src='assets/img/cursosUFCGLogo.png'>
  </a>
  <span ng-click='display_info(curso)' clickable> {{curso.nome_comum}} </span>

  <div>
    <span id='busca'>
      <barra-busca ng-model='cursos_filtrados' campus='curso.campus'></barra-busca>
      <list-display cursos='cursos_filtrados'></list-display>
    </span>
    <slider id='slider' ng-model='interval' states='periodos' invisible></slider>
  </div>

</div>

<div id='menu' ng-class='show_menu? "active" : null' ng-click='show_menu = false'>
  <div stop-propagation='click'>
    <a ng-repeat='item in menu' ng-click='switch_view(item.id)' ng-if='item.available'
        ng-class="mode == item.id? 'selected' : 'clickable'" unselectable>
      <img ng-src='assets/img/icons/{{item.id}}.svg'> {{item.name}}
</a></div></div>

<ui-view id='content-wrapper'></ui-view>

<!-- TEMPORARY -->
<tour step="currentStep" tour-complete="tourEnded()" ng-if="mode == 'minha-grade'">
  <virtual-step
    tourtip="Clique com o botão esquerdo do mouse para marcar uma discipina como já cursada."
    tourtip-next-label="Próximo"
    tourtip-placement="right"
    tourtip-step="0"
    tourtip-element="fluxograma .column:eq(2) cell">
  </virtual-step>
  <virtual-step
      tourtip="Clique com o botão direito para escolher as disciplinas em que você pretende se matricular."
      tourtip-next-label="Próximo"
      tourtip-placement="right"
      tourtip-step="1"
      tourtip-element="fluxograma .column:eq(1) cell">
  </virtual-step>
  <virtual-step
    tourtip="Também é possível marcar um periodo inteiro como cursado clicando no botão que indica o período."
    tourtip-next-label="Entendi"
    tourtip-placement="bottom"
    tourtip-step="2"
    tourtip-element="fluxograma .column:eq(1) .column-title">
  </virtual-step>
</tour>

<div id='footer' unselectable>
  <a href='#/' clickable> Home </a>
  <img src='assets/img/barra.png' class='barra'>
  <a ng-click='display_ajuda(mode)' clickable> Ajuda </a>
  <img src='assets/img/barra.png' class='barra'>
  <a href='#/blog' clickable> Blog </a>
  <img src='assets/img/barra.png' class='barra'>
  <img src='assets/img/analyticsLogo.svg' class='logo'>
  <img src='assets/img/barra.png' class='barra'>
  <a href='#/equipe' clickable> Equipe </a>
  <img src='assets/img/barra.png' class='barra'>
  <a href='https://www.facebook.com/analytics.ufcg?fref=ts' clickable> + Projetos </a>
</div>
