
<div id='home'>
  <div id='busca'>
    <div>
      <img src='assets/img/cursosUFCGLogo.png' class='logo'>

      <barra-busca ng-model='cursosFiltrados' campus='CG'></barra-busca>
      <grid-display cursos='cursosFiltrados'></grid-display>
    </div>
  </div>

  <div id='footer' unselectable>
    <a href='http://www.ufcg.edu.br/'> UFCG </a>
    <img src='assets/img/barra.png' class='barra'>
    <a href='http://pre.sti.ufcg.edu.br/pre/'> PRE </a>
    <img src='assets/img/barra.png' class='barra'>
    <a href='#/blog' clickable> Blog </a>
    <img src='assets/img/barra.png' class='barra'>
    <img src='assets/img/analyticsLogo.svg' class='logo'>
    <img src='assets/img/barra.png' class='barra'>
    <a href='#/equipe' clickable> Equipe </a>
    <img src='assets/img/barra.png' class='barra'>
    <a href='https://www.facebook.com/analytics.ufcg?fref=ts' clickable> + Projetos </a>
  </div>
</div>
