<link rel='stylesheet' type='text/css' href='assets/css/color.css' ng-css>

<div id='header'>
  <a href='#/' clickable><img src='assets/img/cursosUFCGLogo.png'></a>
  <span unselectable> 404 </span>
  <div></div>
</div>

<div id='content'> NÃO ENCONTRADO </div>

<div id='footer' unselectable>
  <a href='#/' clickable> Home </a>
  <img src='assets/img/barra.png' class='barra'>
  <img src='assets/img/analyticsLogoInverse.png' class='logo'>
  <img src='assets/img/barra.png' class='barra'>
  <a href='http://analytics.lsd.ufcg.edu.br/' clickable> + Projetos </a>
</div>
