<link rel='stylesheet' type='text/css' href='assets/css/color.css' ng-css>

<div id='header'>
  <a href='#/' clickable><img src='assets/img/cursosUFCGLogo.png'></a>
  <span unselectable> Team </span>
  <div></div>

  <div><span id='busca'>
    <barra-busca ng-model='cursos_filtrados' campus='curso.campus'></barra-busca>
    <list-display cursos='cursos_filtrados'></list-display>
  </span></div>

</div>

<div id='content'>
  <info-equipe equipe='equipe'></info-equipe>
  <info-equipe equipe='equipe_antiga'></info-equipe>
</div>

<div id='footer' unselectable>
  <a href='#/' clickable> Home </a>
  <img src='assets/img/barra.png' class='barra'>
  <a href='#/blog' clickable> Blog </a>
  <img src='assets/img/barra.png' class='barra'>
  <img src='assets/img/analyticsLogo.svg' class='logo'>
  <img src='assets/img/barra.png' class='barra'>
  <a href='#/equipe' clickable> Equipe </a>
  <img src='assets/img/barra.png' class='barra'>
  <a href='http://analytics.lsd.ufcg.edu.br/' clickable> + Projetos </a>
</div>
