
<style>
  overlay > div { width: 680px }
</style>

<div class='title'> Como usar o site </div>

<div class='sidebar'>
  <a ng-click='goto("requisitos")' clickable> Fluxograma </a>
  <a ng-click='goto("minha-grade")' clickable> Minha Grade </a>
  <a ng-click='goto("taxa-aprovacao")' clickable> Taxa de Aprovação </a>
  <a ng-click='goto("correlacao")' clickable> Correlação </a>
</div>

<div class='body' scroll-to='{{anchor}}'>
  <span id='requisitos' class='section'> Fluxograma </span><ul>
    <li>
      Para <b>trocar de curso</b>, utilize o campo de busca localizado no canto superior direito da página.
    </li><br>

    <li>
      Para ver os <b>pré requisitos</b> de uma disciplina e quais disciplinas ela irá
      <b>desbloquear</b>, passe o mouse por cima da disciplina.
    </li><br>

    <li>
      Quando a caixa de uma disciplina ficar <b>mais escura</b> e ela estiver em <b>períodos anteriores</b>
      à disciplina selecionada, isso significa que a disciplina é um <b>pré requisito</b>. Se ela estiver num
      <b>período posterior</b> à disciplina selecionada, isso significa que ela está <b>bloqueada</b>
      até que você conclua a outra disciplina.
    </li>
  </ul>

  <span id='minha-grade' class='section'> Minha Grade </span><ul>
    <li>
      Cada disciplina pode estar em um de quatro estados: <b>bloqueada</b> (cinza), <b>não cursada</b> (branca),
      <b>em curso</b> (com borda) ou <b>cursada</b> (preenchida). Se uma disciplina está bloqueada significa que
      algum de seus pré requisitos ainda não foi cursado, mas isso não a impede de ser marcada como
      <i>em curso</i> ou <i>cursada</i>.
    </li><br>

    <li>
      O <b>botão esquerdo</b> do mouse alternará o estado de uma disciplina entre <i>cursada</i> e <i>não
      cursada</i>. Já o <b>botão direito</b> o alternará entre <i>em curso</i> e <i>não cursada</i>. Note que ao
      marcar uma disciplina <b>bloqueada</b> seus pré requisitos também serão automaticamente marcados, e ao
      <b>desmarcar</b> uma disciplina as que dependem dela serão bloqueadas.
    </li><br>

    <li>
      Também é possível marcar um <b>período inteiro</b> como <i>cursado</i>. Basta clicar no <b>número</b>
      exibido acima das disciplinas deste. Todavia, se ele já estiver completamente marcado ou for usado o
      <b>botão direito</b> e ele estiver parcialmente marcado, o periodo será desmarcado.
    </li>
  </ul>

  <span id='taxa-aprovacao' class='section'> Taxa de Aprovação </span><ul>
    <li>
      O <b>preenchimento</b> de cada disciplina representa a porcentagem de alunos que foram
      <b>aprovados</b> nela, em comparação ao total que se matriculou em um dado <b>intervalo</b>
      de períodos.
    </li><br>

    <li>
      Para ver <b>numericamente</b> os dados citados no ponto anterior, é só deixar o mouse em cima de uma das
      disciplinas e um <b>balão</b> com essas informações vai surgir.
    </li><br>

    <li>
      Se quiser visualizar um intervalo de períodos <b>específico</b>, como por exemplo nos últimos dois anos,
      arraste as bolinhas do <b>slider</b> que apareceu no canto superior direito até estarem em cima do
      primeiro e último períodos do intervalo desejado.
    </li>
  </ul>

  <span id='correlacao' class='section'> Correlação </span><ul>
    <li>
      Se, dado que você se deu bem em uma disciplina, há uma alta <b>probabilidade</b> de você se dar bem em
      outra, isso significa que essas duas disciplinas possuem uma alta correlação entre si.
    </li><br>

    <li>
      A <b>força</b> da correlação é indicada pela <b>largura do arco</b> que as conecta. Se não há nenhum
      arco conectando duas disciplinas, elas não possuem uma correlação significativa entre si.
    </li><br>

    <li>
      Para ter uma melhor <b>estimativa</b> das correlaçãos que uma disciplina tem com as outras, coloque o
      cursor sobre a <b>bolinha</b> em baixo de seu nome.
    </li><br>
  </ul>
</div>
