
overlay {
  position: absolute;
  font-size: 15px;
  z-index: 10;

  top: 0px;
  width: 100%;
  height: 100%;

  -webkit-animation: fade-in 0.5s;

          animation: fade-in 0.5s;
  background: rgba(0, 0, 0, 0.5);
}

overlay > div {
  background: white;
  box-shadow: 0px 5px 10px
    rgba(0, 0, 0, 0.5);

  margin: auto;
  width: 300px;
  padding: 15px;

  position: relative;
  -webkit-animation: slide-down 0.5s forwards;
          animation: slide-down 0.5s forwards;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

overlay ul {
  margin-right: 20px;
  text-align: justify;
  text-justify: inter-word;
}

overlay .title {
  font-size: 18px;
}

overlay .title:after {
  content: "";
  display: block;
  margin: 6px 0px 6px 0px;

  height: 0;
  border: 0;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

overlay .sidebar {
  float: left;
  width: 180px;
}

overlay .sidebar a {
  display: block;
  padding-left: 5px;
  margin: 0px 20px 5px 0px;

  line-height: 24px;
  font-size: 14px;
}

overlay .sidebar a:hover {
  background: #eee;
  border-right: 2px solid grey;
  color: black;
}

overlay .body {
  max-height: 400px;
  overflow: auto;
}

overlay .body > *:last-child {
  margin-bottom: 0;
}

overlay .section {
  font-size: 17px;
}

overlay .close-btn {
  width: 50px;
  padding: 6px 10px;
  font-size: 12px;

  text-align: center;
  margin-left: auto;
  margin-top: 10px;

  color: white;
  background: grey;
}

overlay .close-btn:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

overlay.ng-leave {
  -webkit-animation: fade-out 0.5s;
          animation: fade-out 0.5s;
}

overlay.ng-leave > div {
  -webkit-animation: slide-up 0.5s;
          animation: slide-up 0.5s;
}

@-webkit-keyframes slide-down {
  from {top: 25%}
  to {top: 30%}
}

@keyframes slide-down {
  from {top: 25%}
  to {top: 30%}
}

@-webkit-keyframes slide-up {
  from {top: 30%}
  to {top: 25%}
}

@keyframes slide-up {
  from {top: 30%}
  to {top: 25%}
}
